{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "rules": {
    "quotes": "off",
    "no-console": "off",
    "no-debugger": "off",
    "indent": ["off", 4]
  }
}