@background-color: #fafbfc;
@background-color-hover: #f6f8fa;
@border-color:#e1e4e8;
@blue: #0366d6;
@light-grey: #e1e1e1;
@dark-grey:#c0bebe;
@cyan:#07dfe3;
@dark-green:#7ba939;

* {
    box-sizing: border-box;
}
input{
    display: inline-block;
    font-size: 15px;
    padding-left:10px;
    height: 40px;
    transition:all .1s ease-out
}
button{
    display: inline-block;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    height: 40px;
    padding:12px 20px 14px;
}

.main{
    padding:0 10px 0 10px;
    min-width: 350px;
    text-align: center;
    .header{
        .title{
            color: @cyan;
        }
        .command{
            input{
                width:50%;
                margin-right: 10px;
            }
            button{
                width:20%;
                background-color: @dark-green;
            }
        }
    }    
    .content{
        margin-top: 20px;
        border: 1px solid @border-color;
        padding:10px;
        text-align: center;
        .row{
            div{
                display: inline-block;
                min-width: 50px;
                min-height: 50px;
                width:5vw;
                height:5vw;
                background-color: @light-grey;
                &:not(:last-child){
                    margin-right: 5px;
                }
                &:hover{
                    background-color: @dark-grey;
                }
                .selected(){
                    background-image: url('turtle.png');
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
                &.selected-n{
                    .selected();
                }
                &.selected-e{
                    .selected();
                    transform: rotate(90deg);
                }
                &.selected-s{
                    .selected();
                    transform: rotate(180deg);
                }
                &.selected-w{
                    .selected();
                    transform: rotate(270deg);
                }
            }
        }
        .log{
            
            font-size: 20px;
            padding: 20px;
            div{
                opacity: 1;
                transition: opacity  2s ease-in-out;
                margin-bottom: 5px;
            }
        }
    }
    
}

@media(min-width:600px){
    .main{
        padding:0 20% 0 20%;
    }
}